.cardFood {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cardFood img {
    width: 100%;
    height: 135px;
  }
}
@media only screen and (min-width: 1024px) {
  .cardFood img {
    width: 100%;
    height: 170px;
  }
}
