.homePage {
  font-family: cursive;
  text-align: center;
}

.homePage p {
  font-size: 20px;
  color: #000000db;
}

.galeryPadd {
  padding: 5px;
}

.galeryFood img {
  width: 100%;
  height: 100%;
}

.mobileContent {
  margin: 0;
  border-top: 2px solid #063a27a6;
  padding: 15px 0px;
}

.mobileContent p {
  text-align: justify;
  font-size: 16px;
}
.mobileContent h3 {
  text-align: center;
}
