.logo {
  width: 45px;
}

.bgColor {
  background-color: #906905;
}

.navItem p {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
}

.navItem p:hover {
  color: #500000;
}

.navItem a:hover {
  text-decoration: none;
}
